@import "src/variables.sass"

.suggestions-container
    position: relative
    top: 5px
    list-style-type: none
    width: 100%
    background-color: $primaryColor
    border-radius: 15px
    padding: 0
    max-height: 40px * 5
    overflow-y: scroll
    scrollbar-width: thin
