@import "src/variables.sass"

.suggestion-container
    position: relative
    height: 40px
    display: flex
    align-items: center
    font-size: 1.05rem
    padding-left: 60px

.suggestion-container:hover
    background-color: $lightgray
    cursor: pointer

.suggestion-container b
    font-weight: 500

.suggestion-container img
    position: absolute
    left: 15px

.icon-location
    height: 30px
    width: 30px

.icon-home
    height: 27px
    width: 27px

.cityName
    color: $secondaryFontColor
    font-size: $secondaryFontSize
    margin-left: 7.5px
