@import "src/variables.sass"

.taskbar-element-container
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  border-radius: 10px
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2)

.taskbar-element-container:hover
  cursor: pointer
  background-image: $lighten-bg
img
  width: 25px
  height: 25px