@import "src/variables.sass"

.chart-container
    display: flex
    gap: 10px
    height: 10px
    align-items: center

.chart-background
    height: 8px
    border-radius: 10px
    background-color: #f2f2f2

.chart-value
    height: 8px
    border-radius: 10px
    background-color: #A8DA81

.chart-text
    font-size: 0.7rem
    font-weight: 500
    line-height: 0.7
    margin: 0
    padding: 0

